[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "genSurv"]
	path = genSurv
	url = https://github.com/arturstat/gensurv
[submodule "smoothHR"]
	path = smoothHR
	url = https://github.com/arturstat/smoothhr
[submodule "TPmsm"]
	path = TPmsm
	url = https://github.com/arturstat/tpmsm
